[package]
name = "client"
version = "0.1.8"
authors = ["The Matter Labs Team <hello@matterlabs.dev>"]
homepage = "https://zksync.io/"
edition = "2021"

[dependencies]
ethers = "2.0.6"
thiserror = "1.0.40"
serde = "1.0.160"
chrono = { version = "0.4.24", features = ["serde"] }
async-trait = "0.1.68"
metrics = "0.21.0"
auto_impl = "1.1.0"
futures = "0.3.28"
vlog = { path = "../vlog" }
