[package]
name = "chain-events"
version = "0.1.8"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
client = { path = "../client" }
ethers = { version = "2.0.7", features = ["ws"] }
futures = "0.3.28"
metrics = "0.21.0"
thiserror = "1.0.40"
tokio = { version = "1.28.2", features = ["time"] }

vlog = { path = "../vlog" }
