[package]
name = "withdrawal-finalizer"
version.workspace = true
homepage.workspace = true
license.workspace = true 
edition.workspace = true
authors.workspace = true

[dependencies]
color-eyre = { workspace = true }
ethers = { workspace = true, default-features = false, features = ["ws", "rustls"] }
tokio = { workspace = true, features = ["full"] }
url = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
eyre = { workspace = true }
tokio-stream = { workspace = true }
envconfig = { workspace = true }
tokio-util = { workspace = true }
sqlx = { workspace = true, features = ["postgres", "runtime-tokio-rustls"] }
dotenvy = { workspace = true }
tracing = { workspace = true }
vise-exporter = { workspace = true }
vise = { workspace = true }

client = { workspace = true }
storage = { workspace = true }
chain-events = { workspace = true }
vlog = {  workspace = true }
finalizer = { workspace = true }
watcher = { workspace = true }
price-feed = { workspace = true }
