[package]
name = "finalizer"
version = "0.1.11"
authors = ["The Matter Labs Team <hello@matterlabs.dev>"]
homepage = "https://zksync.io/"
license = "MIT OR Apache-2.0"
edition = "2021"

[dependencies]
ethers = "2.0.10"
futures = "0.3.28"
metrics = "0.21.1"
thiserror = "1.0.49"
sqlx = { version = "0.7", features = ["postgres", "runtime-tokio-rustls"] }
tokio = { version = "1.32.0", features = ["time"] }

client = { path = "../client" }
storage = { path = "../storage" }
vlog = { path = "../vlog" }
tx-sender = { path = "../tx-sender" }
withdrawals-meterer = { path = "../withdrawals-meterer" }
